<div class="checkout-form-title-container">
    <span class="checkout-form-title-number bold">{{$props.formNumber}}</span>
    <span class="checkout-form-title-text bold">{{$props.title}}</span>
    @if($props.icon)
        @!component('components/ui/icon', {
            icon: $props.icon
        })
    @end
</div>