<div class="checkout-form-container">
    @!component('components/form-title', {
        source: 'resources/views/checkout.edge',
        formNumber: 2,
        title: "Payment details"
    })    
   <form action="">

   </form>
</div>