<div class="checkout-form-container">
    @!component('components/form-title', {
        source: 'resources/views/checkout.edge',
        formNumber: 1,
        title: "Personal information",
        icon: "lock"
    })    
   <form action="">

   </form>
</div>