@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('./constants.css');
@import url('./ui.css');
@import url('./bacon.css');
@import url('./checkout.css');

html, body {
  background-color: var(--grey1);
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: var(--black);
  position: relative;
}

body:before {
  content: '';
  background: var(--green1);
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

a {
  color: var(--green1);
  text-decoration: none;
}

main {
  max-width: 620px;
  margin: auto;
  padding: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  color: #17161A;
}

.subtitle {
  font-size: 26px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
}

main img {
  max-width: 100%;
}

main li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}

main li:before {
  content: '—';
  position: absolute;
  left: 0;
}

main code {
  font-size: 16px;
  background: #e6e2ff;
}

.bold {
  font-weight: bold;
}

.form-filed-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-filed-space {
  margin-bottom: var(--space15);
}