.checkout-container {
    display: flex;
    width: 100%;
}

.checkout-container-box:first-child {
    margin-right: var(--space15);
}

.checkout-container-button-wrapper {
    padding-left: var(--space15);
}

/* order summary component - start */
.checkout-summary-container {
    background-color: var(--white);
    padding: var(--space5);
    border-radius: var(--radius5);
    box-shadow: var(--box-shadow);
    width: 250px;
    box-sizing: border-box;
}

.checkout-summary-content {
    padding: var(--space10);
    border-radius: var(--radius5);
    border: var(--dashed-border);
}

.checkout-summary-title {
    color: var(--black);
    font-size: var(--font-normal);
    text-transform: uppercase;
}

.checkout-summary-box {
    padding: var(--space15) 0;
    font-size: var(--font-normal);
}

.checkout-summary-box:not(:last-child) {
    border-bottom: var(--dashed-border);
}

.checkout-summary-box-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.checkout-summary-box-item:not(:last-child) {
    margin-bottom: var(--space10);
}

.checkout-summary-box-item__text {
    color: var(--black);
    font-size: var(--font-small);
}

.checkout-summary-box-item__grand_total_text {
    color: var(--black);
    font-size: var(--font-large);
}
/* order summary component - end */

/* personal info form component - start */
.checkout-form-container {
    width: 355px;
}

.checkout-form-content {
    padding-left: var(--space15);
}
/* personal info form component - end */

/* form title component - start  */
.checkout-form-title-container {
    display: flex;
    align-items: center;
    margin-bottom: var(--space15);
}

.checkout-form-title-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: var(--radius50);
    font-size: var(--font-normal);
}

.checkout-form-title-text {
    margin: 0 var(--space10);
    font-size: var(--font-normal);
    text-transform: uppercase;
}
/* form title component - end  */

/* personal info form title component - start */
/* personal info form title component - end  */