/* icon ui component - start */
.icon {
    width: 15px;
    height: 15px;
}
.payment-card-icon {
    width: 25px;
    height: 25px;
}
/* icon ui component - end */
  
/* button ui component - start */
.button {
    width: 340px;
    height: 60px;
    color: var(--white);
    background-color: var(--green2);
    text-transform: uppercase;
    border: none;
    border-radius: var(--radius5);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-label {
    margin-left: var(--space10);
}

.button:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
/* button ui component - end */

/* input and select ui component - start */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: var(--white);
    height: 60px;
    border-radius: var(--radius5);
    box-sizing: border-box;
    padding: var(--space10);
    box-shadow: var(--box-shadow);
}

.input-container_column {
    width: 165px;
}

.input-label {
    color: var(--black);
    font-size: var(--font-normal);
}

.input-label-error {
    color: var(--red);
}

.input-field {
    color: var(--black);
    font-size: var(--font-normal);
    background-color: transparent;
    border: none;
    outline: none;
}

.input-field-icon {
    padding-right: var(--space20);
}

.input-field::placeholder {
    color: var(--gray3);
}

.input-icon {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

/* input and select ui component - end */